/* Définition des titres et autres*/

h1 {
	text-align: center;
	text-shadow:0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);color:#fff;
background-color:#ffffff;
}
 

h2 {
	text-align: left;
}

h3 {
	text-align: center;
}

h5 {
	font-style: arial;
}

p {
	font-style: italic;
}

li {
	font-style: italic;
}

/* Fond des pages */

.fondgris {
	background-color: rgb(77, 142, 207);
}

/* Bouton dynamique */

button{
	background:#ffffff;
	color:#fff;
	border:none;
	position:relative;
	height:60px;
	font-size:1.6em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
  }
  button:hover{
	background:#fff;
	color:#ab481a;
  }
  button:before,button:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #000000;
	transition:400ms ease all;
  }
  button:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
  }
  button:hover:before,button:hover:after{
	width:100%;
	transition:800ms ease all;
}

/* Lien en vert, orange après être survolé et rouge après clic */

a:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: rgb(255, 0, 0);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: rgb(255, 115, 0);
	background-color: transparent;
	text-decoration: underline;
}

/* Vidéo responsive */

video {
	width: 100%;
	height: auto;
}

/* Image centrée */

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}